[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

[10]
type=endpoint
context=interno
disallow=all
allow=ulaw
auth=auth10
aors=10

[auth10]
type=auth
auth_type=userpass
username=10
password=1234

[10]
type=aor
max_contacts=1

[20]
type=endpoint
context=interno
disallow=all
allow=ulaw
auth=auth20
aors=20

[auth20]
type=auth
auth_type=userpass
username=20
password=5678

[20]
type=aor
max_contacts=1

[30]
type=endpoint
context=interno
disallow=all
allow=ulaw
auth=auth30
aors=30

[auth30]
type=auth
auth_type=userpass
username=30
password=5678

[30]
type=aor
max_contacts=1

[40]
type=endpoint
context=interno
disallow=all
allow=ulaw
auth=auth40
aors=40

[auth40]
type=auth
auth_type=userpass
username=40
password=5678

[40]
type=aor
max_contacts=1